<div class="col-md-2">
  <b style="margin:20px 30px;display:block">影片分类</b>
</div>
<div class="col-md-10">
  <nav>
    <ul>
      <li (click)="getLoveMovie()">惊悚</li>
      <li (click) = "getActionMovie()">动作</li>
      <li (click) = "getScienceMovie()">科幻</li>
      <li style="float:right" (click)="changeNext()">换一批</li>
    </ul>
    
  </nav>
  
  
</div>

<div>
  <div class="col-md-5">
    <div class="col-md-12" *ngFor="let item of getClassify(); let i = index" (click)="startPlay(i)">
      <div *ngIf="i == 0">
        <img [src]='item.picture' width="100%">
        <b>{{item.name}}</b><br> 
        <p class="area">
           {{item.description}}
        </p>
        
      </div>

    </div>

  </div>

  <div class="col-md-7">
    <div class="col-md-4" *ngFor="let item of getClassifyWithoutFirst(); let i = index" (click)="startPlay(i)">
      
        <img [src]='item.picture' width="100%" height="130px">
        <b>{{item.name}}</b><br> 
        <p class="area">
          {{item.description}}
        </p>
      

    </div>
  </div>

</div>