<div class="col-md-2">
  <b style="margin:20px 30px;display:block">影片分类</b>
</div>
<div class="col-md-10">
  <nav>
    <ul>
      <li (click) = "getActionMovie()">动作</li>
      <li (click) = "getScienceMovie()">科幻</li>
      <li (click) = "getLoveMovie()">爱情</li>
    </ul>
  </nav>
</div>
<div>
  <div class="col-md-5">
    <div class="col-md-12" *ngFor="let item of getClassify(); let i = index" (click)="startPlay(i)">
      <div *ngIf="i == 0">
        <img [src]='item.picture' width="100%">
        <b>{{item.name}}</b><br> {{item.description}}
      </div>

    </div>

  </div>

  <div class="col-md-7">
    <div class="col-md-4" *ngFor="let item of getClassify(); let i = index" (click)="startPlay(i)">
      <div *ngIf="i > 0">
        <img [src]='item.picture' width="100%">
        <b>{{item.name}}</b><br> {{item.description}}
      </div>

    </div>
  </div>

</div>