<!--header-->
<div class="col-md-12" style="height:70px" style="background-color:RGB(200, 200, 200); margin-bottom:13px">
  <div class="col-md-3 navbar-header">

    <img src="assets/1.png" width="100%" height="60px" style="margin:5px auto">


  </div>
  <div class="col-md-5 col-md-offset-2">
    <div style="margin:10px auto">
      <div class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="searchValue">
        </div>
        <button (click)="search()" class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div style="margin:10px auto" *ngIf="isLogin == false">
      <p class="navbar-text" (click)=showRegisterModal()>注册</p>
      <p class="navbar-text" (click)=showLoginModal()>登录</p>
    </div>

    <div style="margin:10px auto" *ngIf="isLogin == true">
      <p class="navbar-text">{{userName}}</p>
      <p class="navbar-text" (click)=outLogin()>退出</p>
    </div>

  </div>
</div>


<!--register&&login-->
<div bsModal #registerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">注册</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideRegisterModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-register (mychange)="closeRegister($event)"></app-register>
      </div>
    </div>
  </div>
</div>

<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">登录</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideLoginModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login (mychange)="closeLogin($event)"></app-login>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading">
  <div class="col-md-10 col-md-offset-1">
    <video *ngIf="isLogin == false" width="100%" autoplay (ended)="next()">

      <source [src]='adsrc' type="video/mp4">
    </video>

    <video *ngIf="isLogin" width="100%" controls="controls">

      <source [src]='videosrc' type="video/mp4">
    </video>
  </div>
</div>





<div class="col-md-10 col-md-offset-1">
  <div>
    <div class="col-md-4">
      <app-video-info [vid] = "vid"></app-video-info>
    </div>
    <div class="col-md-8">
      <app-video-comment [vid] = "vid"></app-video-comment>
    </div>


  </div>
</div>