ul li{
    list-style: none;
    
    height:50px;
}
ul{
    width: 300px;
    height: 700px;
    background-color: RGB(44, 48, 60);

}
ul li a{
    line-height: 50px;
    color: RGB(255, 255, 255);

}
