<div class="col-md-8 col-md-offset-2">
  <div *ngFor="let item of resultVideos">
    <div style="margin:20px">
      <div class="col-md-3" style="margin:auto 0">
        <img class="img-responsive" alt="Responsive image" src="assets/1.png">
      </div>
      <div class="col-md-9">
        <div class="col-md-6">
          <p>速度与激情</p>
        </div>
        <div class="col-md-6">
          <p class="pull-right">7</p>
        </div>


        <div class="col-md-6">
          <p>导演</p>
          <p>地区</p>
        </div>
        <div class="col-md-6">
          <p>主演</p>
        </div>
        <div class="col-md-12">
          简介
        </div>
        <div class="col-md-12">
          <button style="margin-top:60px" (click)="startPlayMovie()">播放</button>

        </div>


      </div>
    </div>
  </div>
  

</div>
